<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /api/
  
  # Route all /api/* to api/index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L,QSA]
</IfModule>